In [1]:
import os
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [3]:
df_path = "/data/seanchoi/airflow/data/SP500/sec/market/dtm/new/part-00000-3922fb7d-1746-4e8d-92d3-79475d63ddff-c000.snappy.parquet"
df = pd.read_parquet(df_path, engine="pyarrow")
print(df.shape)
print(df.index)
df.head()

(51, 8357)
RangeIndex(start=0, stop=51, step=1)

,Date,_cik,_vol,_ret,_vol+1,_ret+1,false,share,pure,vote,...,urge,supranational,unpurchased,unreleased,correlative,ruth,aeronautical,blake,ram,ramus
0,2025-03-26,0001583708,0.0,0.002047,0.000246,-0.017926,4.0,110.0,1.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2025-03-21,0000794367,0.0,0.019651,0.000563,0.038762,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2025-03-14,0000906709,0.0,0.033195,0.002731,-0.010929,13.0,158.0,1.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2025-03-20,0000885639,0.0,0.049597,0.000947,-0.002413,1.0,131.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2025-03-27,0001746466,0.0,0.000000,0.017097,-0.093090,24.0,119.0,2.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# Generate the list of dates in the requested range
date_range = pd.date_range(start="2025-03-01", end="2025-03-30").strftime('%Y-%m-%d').tolist()
date_range

['2025-03-01',
 '2025-03-02',
 '2025-03-03',
 '2025-03-04',
 '2025-03-05',
 '2025-03-06',
 '2025-03-07',
 '2025-03-08',
 '2025-03-09',
 '2025-03-10',
 '2025-03-11',
 '2025-03-12',
 '2025-03-13',
 '2025-03-14',
 '2025-03-15',
 '2025-03-16',
 '2025-03-17',
 '2025-03-18',
 '2025-03-19',
 '2025-03-20',
 '2025-03-21',
 '2025-03-22',
 '2025-03-23',
 '2025-03-24',
 '2025-03-25',
 '2025-03-26',
 '2025-03-27',
 '2025-03-28',
 '2025-03-29',
 '2025-03-30']

In [5]:
df_int_path = "/data/seanchoi/airflow/data/SP500/sec/intermediate/batch_0.parquet"
df_int = pd.read_parquet(df_int_path, engine="pyarrow")
df_int.head()

,Date,_cik,_vol,_ret,_vol+1,_ret+1,false,share,pure,period,...,confirming,substitute,virtue,hereof,burgess,tench,persis,dawn,lora,neal
0,2025-02-26,0001045810,NaN,-0.07864,0.005003,-0.116534,6.0,118.0,1.0,79.0,...,1.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0

In [4]:
df_2_path = "/data/seanchoi/airflow/data/SP500/sec/filtered/batch_filtered_0.parquet"
df_2 = pd.read_parquet(df_2_path, engine="pyarrow")
df_2.head()

,Date,_cik,_vol,_ret,_vol+1,_ret+1,false,share,pure,period,...,confirming,substitute,virtue,hereof,burgess,tench,persis,dawn,lora,neal
0,2025-02-26,0001045810,NaN,-0.07864,0.005003,-0.116534,6.0,118.0,1.0,79.0,...,1.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0

In [ ]:

def count_txt_files(folder_path):
    # List all files in the folder
    files = os.listdir(folder_path)
    
    # Filter files with .txt extension
    txt_files = [file for file in files if file.endswith(".txt")]
    
    # Return the count
    return len(txt_files)

# Example usage
afolder_path = "path_to_Afolder/afolder"  # Replace with the actual path
count = count_txt_files(afolder_path)
print(f"Number of .txt files in '{afolder_path}': {count}")